# venv
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Editors/IDEs
.idea/
.vscode/
*.code-workspace
*.swp
*.swo
*~ 

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
.cache/